<a href="https://colab.research.google.com/github/teekam-chand-khandelwal/PYTHON_LERNING_EXAMPLE/blob/main/eda_missing_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Remove all the rows in the dataset 'marks' having 5 missing values and then print the number of missing values in each column.
import pandas as pd
marks = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/VodvGKvJAaeNrG7kvOQV38aog/class-grades.csv')
m1=marks.dropna(thresh=5)
m1
marks = marks[marks.isnull().sum(axis=1)<5] 
marks

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17    30.00     63.15  48.89
3        7       81.22     96.06    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
..     ...         ...       ...      ...       ...    ...
94       8       96.73    103.71    45.00     93.52  61.94
95       7       85.34     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

[97 rows x 6 columns]

In [ ]:
marks

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17    30.00     63.15  48.89
3        7       81.22     96.06    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
..     ...         ...       ...      ...       ...    ...
94       8       96.73    103.71    45.00     93.52  61.94
95       7       85.34     80.54    41.25     93.70  39.72
96       8       89.94    102.77    87.50     90.74  87.78
97       7       95.60     76.13    66.25     99.81  85.56
98       8       63.40     97.37    73.12     72.78  77.22

[97 rows x 6 columns]

# Removing extra characters from a column
# Description
# The given data frame 'customer' has a column 'Cust_id' which has values Cust_1, Cust_2 and so on.Remove the repeated 'Cust_' from the column Cust_id so that the output column Cust_id have just numbers like 1, 2, 3 and so on.Print the first 10 rows of the dataset  'customer' after processing.

In [ ]:
import pandas as pd
customer = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/9B2ZPE1apMvqrLWx7p8ge9dqX/cust_dimen.csv')

customer['Cust_id'] =customer['Cust_id'].str.replace('[Cust_]','')
#Type your code here
print(customer.head(10))

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS       1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER       2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE       3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER       4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE       5
5      MONICA FEDERLE  NUNAVUT  NUNAVUT        CORPORATE       6
6     DOROTHY BADDERS  NUNAVUT  NUNAVUT      HOME OFFICE       7
7     NEOLA SCHNEIDER  NUNAVUT  NUNAVUT      HOME OFFICE       8
8         CARLOS DALY  NUNAVUT  NUNAVUT      HOME OFFICE       9
9       CLAUDIA MINER  NUNAVUT  NUNAVUT   SMALL BUSINESS      10

<ipython-input-15-dd077035421d>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  customer['Cust_id'] =customer['Cust_id'].str.replace('[Cust_]','')

In [ ]:
import pandas as pd
customer = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/9B2ZPE1apMvqrLWx7p8ge9dqX/cust_dimen.csv')

customer['Cust_id'] = customer['Cust_id'].map(lambda x: x.strip('Cust_'))
print(customer.head(10))

        Customer_Name Province   Region Customer_Segment Cust_id
0  MUHAMMED MACINTYRE  NUNAVUT  NUNAVUT   SMALL BUSINESS       1
1        BARRY FRENCH  NUNAVUT  NUNAVUT         CONSUMER       2
2       CLAY ROZENDAL  NUNAVUT  NUNAVUT        CORPORATE       3
3      CARLOS SOLTERO  NUNAVUT  NUNAVUT         CONSUMER       4
4        CARL JACKSON  NUNAVUT  NUNAVUT        CORPORATE       5
5      MONICA FEDERLE  NUNAVUT  NUNAVUT        CORPORATE       6
6     DOROTHY BADDERS  NUNAVUT  NUNAVUT      HOME OFFICE       7
7     NEOLA SCHNEIDER  NUNAVUT  NUNAVUT      HOME OFFICE       8
8         CARLOS DALY  NUNAVUT  NUNAVUT      HOME OFFICE       9
9       CLAUDIA MINER  NUNAVUT  NUNAVUT   SMALL BUSINESS      10

How to Use merge()
Before getting into the details of how to use merge(), you should first understand the various forms of joins:

inner
outer
left
right
![1rt.JPG]()
Note: Even though you’re learning about merging, you’ll see inner, outer, left, and right also referred to as join operations. For this tutorial, you can consider the terms merge and join equivalent.

You’ll learn about these different joins in detail below, but first take a look at this visual representation of them:

Venn Diagram of Join Operations

*Duplicated Rows*
Description
The given Dataframe 'rating' has repeated rows. You need to remove the duplicated rows.

In [ ]:
import pandas as pd
rating = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/JPAqXRWexo7nybkQ7BjPLWVN/rating_final.csv')

rating_update = rating[rating.duplicated()]
#Type your code here

print(rating.shape)
print(rating_update.shape)

(1254, 5)
(105, 5)

In [ ]:
rating=rating.drop_duplicates(keep='first')
rating.shape

(1149, 5)

https://jovian.com/sayondeepchoudhury/sachin-tendulkar-batting-analysis